[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	read = group GitHub Replication
	owner = group saml/odl-gerrit-github-committers
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Release Engineering Team
	submit = group Release Engineering Team
[submit-requirement "Code-Review"]
	description = A maximum vote is required for the 'Code-Review' label \
			from a non-uploader. A minumum vote is blocking.
	submittableIf = label:Code-Review=MAX,user=non_uploader AND -label:Code-Review=MIN
	canOverrideInChildProjects = false
[submit-requirement "Verified"]
	description = A maximum 'Verified' vote from 'ODL Required.GHA' and \
			one other CI or committer that is a non-uploader is \
			required for the 'Verified' label. A minimum vote is \
			blocking.
	submittableIf = label:Verified=MAX,user=odl.required.gha AND label:Verified=MAX,count>=2 AND label:Verified=MAX,user=non_uploader AND -label:Verified=MIN
	canOverrideInChildProjects = false
